---
# This playbook sets up whole stack.
 
- name: Configurations to "remote" host
  hosts: remote
  remote_user: ubuntu # Remote user
  become: yes
  roles:
    - setup
 
- name: Copying "docker" application folder on remote server
  hosts: remote
  remote_user: ubuntu # Remote user
  become: yes
  roles:
    - app


- name: Setting up logrotate for Nginx container
  hosts: remote
  remote_user: ubuntu # Remote user
  become: yes
  roles:
    - logrotate